
    <section class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2 style="text-align: center">Beaver Shelter</h2>
                <p class="lead" style="text-align: center"> Beaver Shelter was made from a group of developers who love animals. There are millions of animals looking for their homes everyday! Our team hopes that with the help of our work, all these adorable pets find their home!</p>
            </div>
            <div class="col-lg-6">
                <%= image_tag ("pet7.jpg"), class: "img-fluid"%>
            </div>
        </div>
    </section>
        <section class="container-fluid px-0">
        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <%= image_tag ("pet8.jpg"),  class: "img-fluid"%>
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <p class="lead">“It is amazing how much love and laughter they bring into our lives and even how much closer we become with each other because of them.” <p>
                        <p>– John Grogan</p>
                    </div>
                </div>
            </div>
        </div>
        </section>

